venv/

# PyCharm
.idea

# Application temp file
nico_tools/cookie.bin
*.mp3
*.mp4
*.flv

# WebDriver files
nico_tools/download/ChromeDriver/*
!nico_tools/download/ChromeDriver/README.md
nico_tools/download/geckodriver/*
!nico_tools/download/geckodriver/mpl-v2.0.md
nico_tools/download/PhantomJS/*
!nico_tools/download/PhantomJS/LICENSE.BSD
